<% var title = 'Events'%>
<% var back = '/home'%>

<% include layout/head %>

<ul class="list">
  <% events.forEach(function(event){ %>
    <li>
      <a href="/event/<%= event.id%>" data-transition="slide-in">
        <strong><%= event.title %></strong>
        <p><%= event.date %></p>
        <span class="chevron"></span>
      </a>
    </li>
  <% }) %>
</ul>

<% include layout/foot %>
