<% var back = '/events/all'%>

<% include layout/head %>
  
<h1><%= title %></h1>
<p><%= description %></p>

<ul class="inset list">
  <li id="item1" class="segmented-controller-item active">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel massa non nunc consectetur sollicitudin a et justo. Sed sit amet justo at nunc consectetur lacinia. Sed urna ligula, tincidunt sit amet rutrum quis, euismod eget libero. Vivamus sit amet ante non neque sollicitudin rutrum quis nec nisl. Nullam luctus venenatis felis, a volutpat quam ultrices nec. Phasellus viverra dignissim purus a scelerisque. Cras gravida sollicitudin diam quis laoreet. Sed lacinia neque tincidunt nisl aliquet sollicitudin. Sed nulla odio, venenatis dictum sollicitudin sit amet, suscipit quis nisi.
  </li>
</ul>
  
<% include layout/foot %>