<% var title = 'JUG MTP'%>
<% include layout/head %>

<div class="slider">
  <ul>
    <li>
      <img src="/images/jug-1.jpg">
      <span class="slide-text">â† Slide me</span>
    </li>
    <li>
      <img src="/images/jug-2.jpg">
    </li>
    <li>
      <img src="/images/jug-3.jpg">
    </li>
  </ul>
</div>

<p><br>
<ul class="list inset">
    <li>
      <a href="/events/all" data-transition="slide-in">
        <strong>Events</strong>
        <span class="chevron"></span>
      </a>
    </li>
    <li>
      <a href="/speakers/all" data-transition="slide-in">
        <strong>Speakers</strong>
        <span class="chevron"></span>
      </a>
    </li>
</ul>
</p>

<% include layout/foot %>
