<!DOCTYPE html>
<html>
  <head>
    <title><%= foo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= foo %></h1>
    <p>Welcome to <%= ABC %></p>
  </body>
</html>